.placeas{
    justify-content: flex-start;
    flex-direction: column;
}
.paragraph{
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    flex-direction: column;
}
h1.top {
    margin-bottom: 10px;
}
.top{
    font-size: 60px;
    color: rgb(94, 48, 18); 
    font-family: coffeesoda;
}